/* Fondo */
BODY{
    background-image: url(../img/fondo.jpg);
}

/* Estilo del header en general para todas las paginas */
.headergeneral{
    display: grid;
    justify-content: center;
    text-align: center;
    background-color: black;
    color: white;
    border: 0.5px groove;
    border-radius: 20px;
    position: relative;
}
/* Posicionamineto de la barra de navegacion y configuracion */
li{
    text-align: center;
    display: inline;
}

a{
    color: white;
    font-size: large;
}
/* Estilo del main del home */

.titulo1home{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
}

.titulo2home{
    padding: 20px;
}

.GridMainHome{
    display:inline	;
    justify-content: center;
    text-align: center;
    color: white;
    grid-template-areas:
    "titulo"
    "img"
    "textocentral"
    "titulo2";
    grid-template-columns: auto;
    grid-template-rows: auto;
}
.titulo1home{grid-area: titulo;}
.imgmainhome{grid-area: img;}
.textocentralhome{grid-area: textocentral;}
.titulo2home{grid-area: titulo2;}

/* Estilo del footer general */
footer{
    display: grid;
    justify-content: center;
    text-align: center;
    color: white;
    background-color: rgb(0, 0, 0);
    margin-top: auto;
    border: 1px groove;
    border-radius: 20px;
}

/* Estilo del main de viajes */

.MainViajes{
    color: rgb(0, 0, 0);
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
}

.GridMainViajes{
    display: grid;
    justify-content: center;
    gap: 20px;
    grid-template-areas:
    "v1 v2"
    "v3 v4"
    "v5 v6"
    "v7 v8"
    "v9 v10";
    grid-template-columns: auto;
    grid-template-rows: auto;
}

.v1{grid-area: v1;}
.v2{grid-area: v2;}
.v3{grid-area: v3;}
.v4{grid-area: v4;}
.v5{grid-area: v5;}
.v6{grid-area: v6;}
.v7{grid-area: v7;}
.v8{grid-area: v8;}
.v9{grid-area: v9;}
.v10{grid-area: v10;}

.contenedor{background-color: rgb(70, 69, 70); border: 1px solid rgb(0, 0, 0);border-radius:20px;padding:5px;}
.imgviajes{padding: 10px;}
.parrafoviajes{font-size: large; padding: 20PX; color: white;}
.imgform{border: 1px solid black; border-radius: 20px;}

/* Estilo del main de la propuesta */

.titulognral{
    color: white;
    font-size: large;
    text-align: center;
    padding: 5px;
}

.FotosPropuesta{
    display: grid;
    position: center;
    justify-content: center;
    gap: 20px;
    grid-template-areas:
    "imgp1 imgp2 imgp3";
    grid-template-columns: auto;
    grid-template-rows: auto;
}

.p1{grid-area: imgp1;}
.p2{grid-area: imgp2;}
.p3{grid-area: imgp3;}

.p1{padding: 10px; border: 1px solid black; border-radius: 20px;}
.p2{padding: 10px; border: 1px solid black; border-radius: 20px;}
.p3{padding: 10px; border: 1px solid black; border-radius: 20px;}  
.p4{padding: 10px; border: 1px solid black; border-radius: 20px;}  

/* Estilo del main de nosotros */

.nosotrosmain{
    display:inline	;
    justify-content: center;
    text-align: center;
    color: white;
    grid-template-areas:
    "efra"
    "mis";
    grid-template-columns: auto;
    grid-template-rows: auto;
}
.efra{grid-area: efra;}
.mis{grid-area: mis;}

/* Estilo del main siguenos */

.siguenos{
    display:grid	;
    justify-content: center;
    text-align: center;
    color: white;
    grid-template-areas:
    ". formulario .";
    grid-template-columns: auto;
    grid-template-rows: auto; 
}

.formulario{grid-area: formulario; padding: 50px; background-color: rgb(70, 69, 70); margin: 20px; border: 1px solid black; border-radius: 20px; font-size: large;}

input:invalid {
    background-color: #ffdddd;
}
